@page "/"

<style>
    body {
        background-color: #0f292f;
    }
</style>

<PageTitle>Index</PageTitle>
<h2 class="normal-text-color">To whomever it conserns. </h2>

<p class="normal-text">
    Welcome to your new app.
</p>

