hr.dotted {
    border-top: 3px dotted #bbb;
}

.title-text-one {
    color: #14A098;
    padding-bottom: 20px;
    font-family: bender-black;
}

.normal-text {
    color: #CCCCCC;
    font-family: bender-bold;
}
.normal-text-color {
    color: #14A098;
    font-family: bender-bold;
    text-align: center;
    text-decoration-style: solid;
    text-decoration: underline;
    text-decoration-color: #CB2D6F;
}
.cursive-explain-text {
    color: #CCCCCC;
    font-size: 10px;
    font-family: bender-regular;
    font-style: italic;
    text-align: center;
}